.Tariq {
    height:auto;
    width: 250px;
}



/*Make icons dim on hover
Update eventually to show description below icon?*/

a:hover {
    opacity: 0.5;
}

.LeftContent > .name {
    margin: 10px 0px -12.5px 0px;
    color: #fff;
    /* font-family: 'Roboto', sans-serif;  */
}



.social {
    height: auto;
    width: 30px;
    padding: 40px 15px 0px 15px;
}
.LeftContent a{
    color: #147EFB ;
}

#Icons a{
    color: #147EFB ;
}
/* .LeftContent {
    display: flex;
    justify-content: space-between;
    align-items:
    grid-gap: 42px; 
    width: 500px;
    justify-content: center;
} */